<div class="container">
  <h2>Les six premiers pokemons:</h2>
  <hr />
  <div class="columns">
    <div class="column is-one-third">
      <p>{{ count }} Pokémons en base de données</p>
      <p>Dans l'ordre du Pokédex :</p>
      <p *ngIf="select">Le Pokémon séléctionné est : {{ select.nom }}</p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-two-third">
      <form #form="ngForm">
        <div class="field has-addons">
          <div class="control has-icons-left">
            <input
              class="input is-small"
              type="text"
              name="pokemonRecherche"
              placeholder="Nom du Pokémon"
              [(ngModel)]="formRecherchePokemon.nom"
              (keyup)="rechercher(formRecherchePokemon.nom)"
              pattern="[a-zA-Z 3]*"
              [class.is-danger]="form.invalid"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faOptinMonster"></fa-icon>
            </span>
            <div *ngIf="form.invalid" class="tag is-danger is-light">
              Le champs de saisie ne doit contenir que des lettres.
            </div>
            <div *ngIf="easterEggs">
              <img
                src="https://media.giphy.com/media/3o7bu1nVSxNQUWMAZa/giphy.gif"
              />
            </div>
          </div>
          <a
            class="button is-primary is-small"
            (click)="rechercher(formRecherchePokemon.nom)"
            [class.is-danger]="form.invalid"
          >
            Rechercher
          </a>
          <div class="control">
            <a class="button is-light is-small" (click)="annulerRecherche()"
              >Annuler</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div *ngIf="pokemons?.length<1">Aucun Pokémon trouvé</div> -->
  <div class="columns is-multiline">
    <ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons | paginate: {itemsPerPage:25, currentPage:page, totalItems:count}">
      <li>
        <app-pokemon [pokemonInput]="pokemon"></app-pokemon>
      </li>
    </ul>
  </div>
</div>
<pagination-controls (pageChange)="page = $event; getPokemons()"></pagination-controls>